body{
    font-family: 'Roboto', sans-serif;
}
h2{
    color: #DAA500;
    font-weight: 700 !important;

}
.header_aboutus ul li{
    list-style: none;
    display: inline;
    padding: 5px;
    text-decoration: none !important;

}
ul li a{
    color: white;
    font-size: 18px;

}
.breadcrumb_aboutus,.heading{
    background-color:#2371B9 ;
    color: white;
}

.content_aboutus{
    margin: 10px;
    font-size: 14px;
}
.caption_aboutus h4{
    font-weight: 500;
    color: white !important;
    background-color: #336699;

}
.caption_aboutus .footer{
    background-color:#CCCCCC ;
}
p{
    font-weight: 600 ;
}
.thumbnail p{
text-align:center;
}
