/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background-color:#fff !important;
}
p{
	text-align:justify;
}
.container{
	background-color:#FFF;
}
#heading_top{
	background-color:#FFF !important;
}
.logo_info{
	font-size:24px;
	color:#0B3A61;
	font-weight:bold;
	text-align:center;
	/*background-color:#0B3A61;*/
}
.logo_info_title{
	font-size:32px;
	color:#0B3A61;
	font-weight:bold;
	text-align:center;
	margin-top:20px;
	/*background-color:#0B3A61;*/
}
	
#heading_top ul{
	margin-top:1px;
}
.top_navbar{
	margin-bottom:0px;
}
.top_navbar ul{
	background-color:#0B3A61;
	/*border-top:6px solid #0B3A61;*/
}
ul.nav{
	width:100%;
}
/*
.top_navbar ul li{
	background-color:#0B3A61;
	border-top:6px solid #0B3A61;
	padding-left:2px;
	padding-right:2px;
	float:left;
}
.top_navbar ul li a{
	color:#FFF;
	padding-top:4px !important;
	padding-bottom:10px !important;
}
.top_navbar ul li a:hover{
	color:#0B3A61;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
*/
.icon{
	background-color:#FFF !important;
	border-top:0px !important;
	float:right;
}
.icon a{
	padding:0px !important;
}
.icon img{
	height:36px;
	width:36px;
}
.icon a:hover{
	background-color:#FFF !important;
}
#banner img
{
	width:-moz-available;
	width:-webkit-fill-available;
	height:500px;
}

#information{
	background-color:#FFF;
}
#information h3{
	margin-top:20px;
	padding:5px;
}
#information a{
	padding:5px;
	font-size:13px;
}
#information a:hover{
	color:#900;
}
#information hr{
	margin-bottom:5px;
	margin-top:0px;
}


#content{
	margin-top:10px;
}

#content p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	padding-left:2px;
	padding-right:2px;
}
#content a{
	font-size:13px;
}
#content a:hover{
	text-decoration:none;
	color:#900;
}
.date{
	background-color:#BDBDBD;
	width:60px;
	color:#FFF;
	padding:3px;
}
.support
{
	background-color:#F7F7F7;
	border-radius:10px;
	margin-top:20px;
	padding:8px;
}
.support a{
	color:#000;
}
.support a:hover{
	color:#3399FF !important;
}
.support p{
	font-size:13px;
}
.support .col-lg-8 a:hover
{
	color:#900 !important;
	}
.gallery .row{
	margin:0px !important;
}
.gallery .row .col-lg-4{
	padding:2px 0px;
}

.link a{
	color:#06F;
}
.link a:hover{
	color:#900 !important;
}
.link ul{
	list-style-type:none;
}
.link ul li img{
	height:10px;
	width:10px;
}
#faculty{
	margin-top:50px;
}
#faculty h3{
	margin-bottom:30px;
}
#faculty p{
	margin-bottom:0px !important;
	margin-top:10px !important;
}
.footer{
	background-color: #2371b9;
        padding: 10px 0px;
        color: #fff;
}
.footer P{
	text-align:center;
	color:#FFF;
	font-weight:normal;
	padding-bottom:5px;
	margin-top:0px !important;
}
.footer ul li{
	float:left;
	margin-top:0px;
}
.footer ul li a{
	color:#FFF;
	padding-top:0px !important;
	padding-bottom:0px !important;
	/*border-right:1px solid #CCC;*/
}
#contact a{
	border-right:none !important;
}
.footer ul li a:hover{
	color:#0B3A61;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
ul.icons{
	list-style:none;
	padding-top:10px;
}
ul.icons li{
	float:left;
	padding-left:2px;
	padding-top:0px;
	text-align:right;
}
#banner{
	width:100%;
	height:auto;
}
.sr-white{
	background-color:#fff;
	width:20px;
}
 #wrapper{
            border: 1px solid #DCDADA;
            border-radius: 5px 5px 5px 5px;
            box-shadow: 2px 2px 2px #E1E1E1;
            background: #fff;
            width:700px;
            height:480px;
            background:#f4f4f4;

        }
        #wrapper h3{
            font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size:16px;
            height:60px;
            background:url(img/title.png) no-repeat left top;
            margin:0;
            padding:16px 0 0 20px;
            text-shadow: 1px 1px 2px #000;
            filter: dropshadow(color=#000, offx=1, offy=1);
            color:#fff;
        }
        #slider {

            background: #fff;
            /*IE bugfix*/
            padding:0;
            margin:0;
            width:700px;
            height:400px;

        }

        #slider li { list-style:none; }

        #page {
            width:600px;
            margin:50px auto;
        }

        #slider{
            color: #000;
            background:#f4f4f4;
            font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size:12px;
        }

        .form-step{

            padding:16% 3% !important;

        }

        .form-submit{
            cursor: pointer;
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            -moz-user-select: none;
            background: none repeat scroll 0 0 #6F95DC;
            border-radius: 5px 5px 5px 5px;
            color: #FFFFFF;
            display: block;
            margin: 0 20px 20px;
            padding: 10px;
            text-align: center;
            width: 125px;
            z-index: 10;
            font-weight: bold;
            text-decoration: none;
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#94b9e9), to(#4870d2));
            background-image: -moz-linear-gradient(#94b9e9, #4870d2);
            background-image: -webkit-linear-gradient(#94b9e9, #4870d2);
            background-image: -o-linear-gradient(#94b9e9, #4870d2);
            filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#94b9e9, endColorstr=#4870d2)";
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#94b9e9, endColorstr=#4870d2)";
            font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

        }

        .errorDisplay{
            border:2px solid red;
        }

        .form-left{
            color: #717171;
            float: left;
            font-size: 13px;
            font-weight: bold;
            padding: 5px;
            width: 200px;
        }
        .form-right{
            float: left;
            width: 214px;
        }
        .row{
            float: left;
            margin: 5px 0;
            width: 100%;
        }
        .form-step input[type='text']{
            border: 1px solid #CFCFCF;
            border-radius: 4px 4px 4px 4px;
            height: 25px;
            padding: 3px;
            width: 200px;
        }
        select{
            border-radius: 4px;
            border: 1px solid #CFCFCF;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            background: #FFF;
            padding: 2px;
            height: 30px;
            width:205px;
            font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size:12px;
            background:#f4f4f4;
        }

        select option{
            font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size:12px;
            background:#f4f4f4;
            color:#717171;
        }

        .form-error{
            color: red;
            font-size: 12px;
            padding: 8px;
        }

     
   .rhino-btn {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    -moz-user-select: none;
    background: none repeat scroll 0 0 #6F95DC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    margin: 0 20px 20px;
    padding: 10px;
    text-align: center;
    width: 125px;
    z-index: 10;
    font-weight: bold;
    text-decoration: none;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#94b9e9), to(#4870d2));
    background-image: -moz-linear-gradient(#94b9e9, #4870d2);
    background-image: -webkit-linear-gradient(#94b9e9, #4870d2);
    background-image: -o-linear-gradient(#94b9e9, #4870d2);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#94b9e9, endColorstr=#4870d2)";
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#94b9e9, endColorstr=#4870d2)";
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.rhino-bullets li a.rhino-bullet {
    display: block;
    width: 100%;
    height: 90px;
    cursor: pointer;
    background: none repeat scroll 0 0 #F8FDFF;
    border: 1px solid #EEEEEE;
    font-size: 10px;
    text-align: center;
    padding: 10px 0 5px 0;
    color: #000;
    text-decoration:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:13px;
}
.rhino-bullets {
    position: relative;
    top: -438px;
    z-index: 10;
    background: #fff;
    padding:0;
    float:left;
}

.rhino-bullets:before, .rhino-bullets:after {
    position:absolute;
    display:block;
    left:-16px;
    content:' ';
    width:16px;
    height:26px;

}

.rhino-bullets li {
    float:left;
    display:inline;
    margin:0;
    width: 233px;
}

.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
    color:#000;
    background:#fff;
    border-bottom: none;
}
/*khojam*/
/*map section css*/
#map-outer {
    height: 440px; 
    padding: 20px; 
    border: 2px solid #CCC; 
    margin-bottom: 20px; 
    background-color:#FFF
}
#map-container { height: 400px }
@media all and (max-width: 991px) {
    #map-outer  { height: 650px }
    }
/*end of map section*/

.tabContent {
  padding:20px;
}
.nav_tab_div{
    display: inline-block;
    padding: 10px 0;
    font-size: 20px;
    color: #424242;
    width: 100%;
    position: relative;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}
.nav_tab_div li {
        background: #ECECEC;
    text-align: center;
    border-bottom: #C3C3C3 solid 2px;
}
/*bibek*/



/*sunny*/


.english-date{
	text-align: right;
	padding-top: 20px;
    font-weight: bold;
}
.col_four_fifth {
	width:100%
}
.form-control {
    border-radius: 0px !important;
}
.btn-lg{
	 border-radius: 0px;
}
.btn-danger {
	color:#fff !important;
	background-color:#DAA500 !important;
	border-color:#DAA500 !important;
}
.btn-danger:hover,.btn-danger:focus {
	color:#fff !important;
	background-color:#DAA500 !important;
	border-color:#DAA500 !important;
}
.heading-block::after {
   
    border-top: 2px solid #DAA500 !important;
}
.divider-gold{

    color: #DAA500 !important;

}
.img-title{
	margin-bottom: 0px;
        font-size: 15px;
        color:#fff;
}
.thumbnail .img-caption{
	padding: 0px;
	text-align: center;
        position: absolute;
        width: 77% !important;
        bottom: 30px !important;
        background-color: rgba(0, 0, 0, 0.24) !important;
        color: #fff !important;
}
.thumbnail:hover{

}
.last-bg{
	/*background-image: url(../images/1.jpg);*/
	background-color: #D6E8F3;
}
.icon{
	margin-right: 5px;

}
.bottom{
	margin-bottom: 0px;
}
.media-title h4{
	margin: 0px;
	padding-top: 15px;
}
.category .grow { 
	transition: all .2s in-ease-out;
     border-radius: 0px;
	 }
.category .grow:hover { 
    box-shadow: 3px 4px 5px #34495e;
	transform: scale(1.1);
    color: #DBCC17;
	 }
.grow-img{
	background-color: #fff;
}

.grow-img img{
	transition:all 2.75s cubic-bezier(0, 0.83, 0.17, 1) 0s;
}
.grow-img .media-left a  img:hover{
	transform: scale(1.25);
    opacity: 0.3;
}  
  
/*soccial icon*/
.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 0px;
/*    padding-left: 0px !important;*/
}

.social ul li {
/*    margin: 5px;*/
    list-style: none outside none;
    display: inline-block;
    padding: 0px 5px;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    border-radius: 0px !important;
    border: 1px solid;
/*    background-color: #909AA0;*/
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
/*    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;*/
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    background: #e64522;
}


/*end of social-icon*/

/*footer {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0
            }
            @media (max-height: 300px) {
                footer {
                    position: relative!important
                }
            }
.footer {
    background-color: #2371B9;
    padding: 10px 0px;
    color: #FFF;
}*/



/*bibek */

/*start section*/

#_pfpcswizmain>.container>.alert {
                    margin-top: 30px;
                    margin-bottom: 0
                }
                .sp-profile-row .box-dynamic>.panel>.panel-heading>h3 {
                    margin: 5px 0
                }
                #profile-gallery .gallery-photo a.sp-thumbnail {
                    height: 200px;
                    position: relative;
                    left: 0;
                    right: 0;
                    margin: 4px;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, .13)!important;
                    border-radius: 0!important;
                    border: 1px solid #ccc!important
                }
                #profile-gallery .gallery-photo a.sp-thumbnail i.thumb {
                    display: block;
                    margin: 0 auto;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    width: 100%;
                    background-position: 50% 25%;
                    background-size: cover;
                    -webkit-transition-duration: 500ms;
                    -webkit-transition-property: width, height
                }
                .gallery-photo .sp-abs {
                    z-index: 100
                }
                .sidebar-panels .panel .panel-heading h3 {
                    margin: 5px 0
                }
                .sp-prof-about {
                    margin-bottom: 20px
                }
                .sp-prof-about.sp-about-summary-card .primary-address .sp-break-contact-person {
                    display: block
                }
                .sp-prof-about.sp-about-summary-card .primary-address .sp-col-address {
                    width: 100%;
                    padding: 0
                }
                .sp-prof-about.sp-about-summary-card .primary-address .sp-col-contact-person {
                    width: 100%
                }
                .sp-about-summary-card .sub-section {
                    padding-bottom: 0
                }
                .sp-col-contact-person>.panel {
                    margin-bottom: 0
                }
                .sp-prof-box-social a {
                    word-break: break-all;
                    word-wrap: break-word
                }
                
/*                end section*/
        
/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/

.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/
.jssort01 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
}

.jssort01 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
    box-sizing: content-box;
    background: url('img/t01.png') -800px -800px no-repeat;
    _background: none;
}

.jssort01 .pav .c {
    top: 2px;
    _top: 0px;
    left: 2px;
    _left: 0px;
    width: 68px;
    height: 68px;
    border: #000 0px solid;
    _border: #fff 2px solid;
    background-position: 50% 50%;
}

.jssort01 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    border: #fff 1px solid;
    background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
    background-position: 50% 50%;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
    /* ie quirks mode adjust */
    width /**/: 72px;
    height /**/: 72px;
}
.gallery_div{
    position: relative;
    margin: 0 auto; 
    top: 0px;
    left: 0px; 
    /*width: 800px;*/
    height: 296px; 
    visibility: hidden; 
    background-color: #24262e;
}



/*map section css*/
#map-outer {
    height: 440px; 
    padding: 20px; 
    border: 2px solid #CCC; 
    margin-bottom: 20px; 
    background-color:#FFF
}
#map-container { height: 400px }
@media all and (max-width: 991px) {
    #map-outer  { height: 650px }
    }
/*end of map section*/

.tabContent {
  padding:20px;
}
.nav_tab_div{
    display: inline-block;
    padding: 10px 0;
    font-size: 20px;
    color: #424242;
    width: 100%;
    position: relative;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}
.nav_tab_div li {
        background: #ECECEC;
    text-align: center;
    border-bottom: #C3C3C3 solid 2px;
}
/*bibek*/
.slider-image {
    background: url(../images/2.jpg) center;
}
#search-q>i.fa-search {
    left: 23px;
}
#search-lt>i.fa-map-marker, #search-q>i.fa-search {
    position: absolute;
    top: 15px;
    font-size: 16px;
    color: #666;
    z-index: 3;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-search:before {
    content: "\f002";
}
#search-q input {
    padding-left: 26px;
}
#search-lt input {
    padding-right: 26px;
}
#search-lt>i.fa-map-marker {
    right: 7px;
    font-size: 20px;
    top: 13px;
}
#search-lt>i.fa-map-marker, #search-q>i.fa-search {
    position: absolute;
    top: 15px;
    font-size: 16px;
    color: #666;
    z-index: 3;
}
.grow h3:hover{
    bottom:80px;
}
.profile-logo {
    background: #FFF;
    border: 5px solid #FFF;
    box-shadow: 0 1px 1px rgba(136,153,166,.35);
    height: 175px;
    position: relative;
    width: 200px;
}
.logo-holder {
    margin-top: 50px;
    top: 235px;
    left: 70px;
    margin-left: 50px;
    position: absolute;
    transition: bottom .3s;
    z-index: 3;
}
.logo-image {
    -moz-force-broken-image-icon: 1;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.sp-profile-row {
    margin-top: 30px;
}
.fb-size{
    height: 300px !important;
}
.fb-size span{
    height: 300px !important;
}
.nav-btn{
    margin-bottom: 5px !important;
    background: #FF7E00;
    border-color: #F58535;
    color: #fff;
    height: 45px;
    left: 20px;
    top: 0px;
}
.jssorb01{position:absolute}
.jssorb01 div,.jssorb01 div:hover,.jssorb01 .av{
    position:absolute;
    width:12px;
    height:12px;
    filter:alpha(opacity=70);
    opacity:.7;
    overflow:hidden;
    cursor:pointer;
    border:#000 1px solid
}
.jssorb01 div{
    background-color:gray
}
.jssorb01 div:hover,.jssorb01 .av:hover{
    background-color:#d3d3d3
}
.jssorb01 .av{background-color:#fff}
.jssorb01 .dn,.jssorb01 .dn:hover{
    background-color:#555
}
.jssora05l,.jssora05r{
    display:block;
    position:absolute;
    width:40px;
    height:40px;
    cursor:pointer;
    background:url('../imgbanner/a17.png') no-repeat;
    overflow:hidden
}
.jssora05l{background-position:-10px -40px}.jssora05r{background-position:-70px -40px}.jssora05l:hover{background-position:-130px -40px}.jssora05r:hover{background-position:-190px -40px}.jssora05l.jssora05ldn{background-position:-250px -40px}.jssora05r.jssora05rdn{background-position:-310px -40px}.jssort09-600-45 .p{position:absolute;top:0;left:0;width:600px;height:45px}.jssort09-600-45 .t{font-family:verdana;font-weight:normal;position:absolute;width:100%;height:100%;top:0;left:0;color:#fff;line-height:45px;font-size:20px;padding-left:10px}

.profile-subnav-main .profile-subnav-inner {
    position: relative;
/*    left: 215px;*/
    display: block;
    line-height: 1px;
    transition: left .3s;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
}
.profile-subnav-main {
    background: #F8F8F8;
    position: relative;
    border-bottom: 1px solid #bbb;
    box-shadow: 4px 0 4px rgba(0,0,0,.32);
}
.modal-dialog {
    right: auto !important; 
    left: auto !important; 
}
/*raj*/
.working-hours-condensed>p.toggler, .working-hours-expanded>p.toggler {
    margin-top: 10px;
    margin-bottom: 0;
}
.sp-prof-about>.panel-body>.row>.sp-mid-divider {
    background: #ccc;
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
}
/* .nav > li > a {
    padding: 10px 12px !important;
    color:#fff !important;
}*/