.sp-container-box{background:#F2F6FA}
.profile-cover-main{
    position:relative;height:400px}
#fu-ucf-progress{
    height:2px;z-index:110;top:0;width:100%;display:none}
.profile-cover-main-inner{position:relative;width:100%}
.profile-cover-hfix{height:400px}
.profile-cover-imgholder{background:#19282E;position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden}
.profile-cover-imgholder>a.profile-cover{position:absolute;top:0;left:0;right:0;bottom:0;z-index:2}
.profile-cover-imgholder img{position:absolute;left:0;right:0;top:0;bottom:0;margin:0 auto;width:100%;cursor:pointer}
.profile-logo-container{position:relative;top:400px;z-index:5}
.logo-holder{bottom:-65px;left:15px;position:absolute;transition:bottom .3s;z-index:3}
.profile-logo{background:#FFF;border:5px solid #FFF;box-shadow:0 1px 1px rgba(136,153,166,.35);height:175px;position:relative;width:200px}
.logo-image{-moz-force-broken-image-icon:1;height:100%;left:0;position:absolute;top:0;width:100%}
span.sp-logo-q.logo-image{font-size:140px;color:#fff;background:#ccc}
.profile-subnav-main{background:#F8F8F8;position:relative;border-bottom:1px solid #bbb;box-shadow:4px 0 4px rgba(0,0,0,.32)}
.fixed-subnav{position:fixed;right:0;left:0;z-index:1000;top:57px}
.profile-subnav-main .profile-subnav-inner{position:relative;left:215px;display:block;line-height:1px;transition:left .3s;-webkit-transition:left .3s;-moz-transition:left .3s}
.fixed-subnav .profile-subnav-inner{left:15px;transition:left .3s;-webkit-transition:left .3s;-moz-transition:left .3s}
.profile-subnav-main>.container>.profile-subnav-inner>.navbar{border-radius:0;background:#F8F8F8;margin-bottom:0;border:none}
.sp-subnav-list>li.active a{font-weight:700}
.sp-subnav-list>li.active>a{background-color:#f8f8f8!important;color:#1C71AB!important}
.sp-subnav-list>li>a{font-size:16px}
.sp-profile-row{margin-top:30px}
.sp-prof-about>.panel-heading>h4.tagline{color:#666}
.sp-prof-about>.panel-heading>h4.tagline>.fa{font-size:16px;color:#999}
.sp-prof-about>.panel-body{padding-top:0;padding-bottom:0}.sp-prof-about>.panel-body>.row{position:relative}.sp-prof-about>.panel-body>.row>.sp-mid-divider{background:#ccc;position:absolute;left:50%;width:1px;height:100%}.sp-prof-about .sub-section{display:block;padding-bottom:20px;border-bottom:1px dashed #ccc}.sp-prof-about .sub-section.last{border-bottom:none}.sp-prof-about .sub-section h3{margin-bottom:20px}.sp-prof-about .sub-section .panel>.panel-heading h3.panel-title{margin-bottom:0}.sp-prof-about .sub-section .primary-address{padding:10px 0 0}.sp-prof-about .sub-section .primary-address>div{padding-left:0}.sp-prof-about .sub-section .primary-address .sp-col-contact-person{margin-top:10px}.sp-prof-about .sub-section .primary-address address{margin-bottom:0}.sp-prof-about>.panel-heading .btn.btn-default{text-transform:none;letter-spacing:normal;color:#1C71AB}.sp-prof-about>.panel-heading .btn.btn-warning{color:initial}.sp-prof-about>.panel-heading .btn.btn-default .badge{background-color:#fff;border:1px solid #666;color:#1C71AB}.sp-prof-about .pf-video-box{padding-bottom:15px;background:#fafafa;border-top:1px solid #ddd}.working-hours-condensed{padding-top:1px}.working-hours-condensed>p.toggler,.working-hours-expanded>p.toggler{margin-top:10px;margin-bottom:0}.working-hours-condensed>h4>span.today{padding:2px 7px;border:1px solid #aaa;border-radius:50px;text-decoration:none;color:#333;margin:10px 0}.working-hours-condensed>h4>span.today.closed{color:#E94B35}.working-hours-expanded>li{border-radius:0!important}.working-hours-expanded>li>h4{margin:0;font-size:14px}.working-hours-expanded>li.list-group-item.today{background:#efefef;color:#111}.working-hours-expanded>li.list-group-item.closed{color:#E94B35}.working-hours-expanded>li.list-group-item>h4>span{margin-right:10px;width:50px;display:inline-block;font-weight:700}.panel.panel-primary-addr{margin-bottom:0;border:0;box-shadow:none;margin-top:0}.panel.panel-primary-addr>.panel-body .primary-address address{line-height:24px;margin-bottom:0}.panel.panel-primary-addr>.panel-body .primary-address .contact-person{padding-left:10px;padding-right:10px}.primary-address i.fa,.primary-address span.glyphicon{min-width:14px}.sp-break-contact-person{display:none}#profile-dynamic-boxes>.box-dynamic>.panel>.panel-heading>h3>span>.fa,#profile-dynamic-boxes>.box-dynamic>.panel>.panel-heading>h3>span>.glyphicon{color:#999}.sp-badge{position:absolute;left:0;top:0;background-image:url(images/tCzXfYOwdl.png);height:54px;width:51px;z-index:100}.sp-badge-ultra{background-position:0 0}.sp-badge-premium{background-position:0 -56px}.sp-badge-featured{background-position:0 -113px}.sp-badge-starter{background-position:0 -168px}.sp-badge-profile{left:-4px;top:-4px}.discount-list>.media{padding-bottom:10px;border-bottom:1px dotted #ddd;margin-bottom:10px;margin-top:0}.discount-list>.media>.pull-left>img.sp-default{float:none;margin:0 auto;opacity:.55}.discount-list .no-result{text-align:center}.discount-list>.media:last-child{border-bottom:none;margin-bottom:0}.discount-list>.media>.media-body>.media-heading{font-size:18px}.discount-list>.media>.media-body>.media-heading>a:hover{text-decoration:none}.discount-list> .media>.media-body>p{margin-bottom:8px;line-height:1em}.half-box{margin-top:30px;width:100%;box-shadow:0 1px 1px rgba(0,0,0,.25)}.half-box>.action-row,.half-box>.header-row{background:#efefef;padding:10px;margin:0;border-top:1px solid #ddd;border-bottom:1px solid #ddd}.half-box>.header-row{background:#f5f5f5}.half-box-inner{padding:10px}.half-box-inner>.sp-section-title{margin-top:10px}.box-gray{background:#efefef}.box-white{background:#fff;color:#333}.box-bluegray{background:#EFF3F3;color:#333}.header-row .sp-section-title .title{margin:0;padding:0;background:0 0;border:none;color:#333}.gallery-photo{margin:0;padding:0}.sp-prof-box-social .sp-icon-social{min-width:20px}.fileinput-button{position:relative;overflow:hidden}.fileinput-button input{position:absolute;top:0;right:0;left:0;bottom:0;width:100%;height:100%;font-size:999px;margin:0;opacity:0;-ms-filter:'alpha(opacity=0)';direction:ltr;cursor:pointer;outline:0;display:block}.fileinput-lc{position:relative;display:block;z-index:100}.ficp{display:inline-block;position:absolute;z-index:6;right:0;bottom:0}.fileinput-cover{position:absolute;bottom:0;z-index:2;right:15px;margin:0 auto;text-align:right;padding:10px;background:rgba(0,0,0,0);color:#fff;text-shadow:0 1px 0 rgba(0,0,0,.45);height:66px}.fileinput-cover>div>form{display:inline-block;margin:0}.fileinput-cover .fileinput-lc{display:inline-block;margin:0;padding:10px 15px;background:rgba(0,0,0,.35)!important;box-shadow:0 1px 1px rgba(0,0,0,.15)}.fileinput-cover .fileinput-lc .glyphicon{font-size:24px;vertical-align:middle}.fileinput-cover .fileinput-lc span{vertical-align:middle}.fileinput-logo{display:none;position:absolute;bottom:0;z-index:110;left:0;right:0;margin:0 auto;text-align:center;padding:10px;background:rgba(25,40,46,.66);color:#fff;text-shadow:0 1px 0 rgba(0,0,0,.45)}.fileinput-logo>div>form{display:inline-block;margin:0}.fileinput-logo .fileinput-lc{display:inline-block;border-radius:30px!important;padding:10px 12px;margin:0}.fileinput-logo .fileinput-lc .glyphicon{font-size:24px;vertical-align:middle}#fu-uf-progress{height:2px;z-index:100;width:100%;display:none}.logo-holder:active .fileinput-logo,.logo-holder:focus .fileinput-logo,.logo-holder:hover .fileinput-logo,.profile-logo-container:active .fileinput-cover,.profile-logo-container:focus .fileinput-cover,.profile-logo-container:hover .fileinput-cover{display:block}@media screen\9{.fileinput-button input{filter:alpha(opacity=0);font-size:100%;height:100%;width:100%}}.modal{overflow:auto;color:#333}.blueimp-gallery>.description{position:absolute;top:40px;left:15px;color:#fff;display:none}.blueimp-gallery-controls>.description{display:block}.sp-primary-addr .half-box-inner{min-height:235px}.sp-prime-btn-holder{min-height:125px;background:#fff}.sp-pfbtns-action{padding:10px}.sp-pfbtns-action .btn{display:block;margin-top:0;margin-bottom:5px}.box-dynamic .half-box{margin-top:0}.business-info.info-more .sp-circle-image{height:36px;width:36px;line-height:36px;vertical-align:middle;font-size:16px;border:none;margin:0 auto!important}.business-info.info-more .sp-circle-image>.sp-user{font-size:12px}.business-info.info-more .sp-circle-image>.sp-ab-user{font-size:20px;left:0;right:0;top:8px}.mem-info{font-family:'Source Sans Pro',sans-serif}.mem-info h2{margin:0 0 8px;font-size:14px;color:#d55400;word-break:break-all}.mem-info h3{margin:0 0 8px;font-size:14px}@media (max-width:969px){.working-hours-expanded>li.list-group-item>h4>span{min-width:30px}}@media all and (max-width:767px){.fixed-subnav{top:0}.sub-section.xs-midlast{padding-bottom:20px;border-bottom:1px dashed #ccc!important}.sp-xs-center{float:none!important;text-align:center}.sp-pf-section.discount-list .sp-section-title>.title{border:none!important}}@media all and (min-width:768px){.sp-pf-section.discount-list .media>.pull-left{min-width:70px}}@media (min-width:1200px){.profile-cover-hfix,.profile-cover-main{height:400px}}@media (max-width:1499px){.profile-cover-imgholder img{width:auto}}@media (max-width:1024px){.profile-cover-hfix,.profile-cover-main{height:300px}.profile-logo-container{top:300px}}@media (max-width:768px){.ficp{right:15px}.profile-cover-hfix,.profile-cover-main{height:200px}.profile-logo-container{top:203px;left:5px}.logo-holder{bottom:-53px}.profile-logo{height:100px;width:100px}.fileinput-logo .fileinput-lc{border-radius:8px!important;padding:8px 12px!important}.fileinput-logo .fileinput-lc .glyphicon{font-size:14px;line-height:1px}span.sp-logo-q.logo-image{font-size:65px}.fileinput-cover{padding:0!important;bottom:15px!important;height:36px!important}.fileinput-cover .fileinput-lc{padding:6px 10px!important}.fileinput-cover .fileinput-lc .glyphicon{font-size:14px!important}.profile-subnav-inner{left:-15px!important;color:#333}.sp-subnav-list li{padding-left:30px}.sp-profile-row{margin-top:10px}#profile-review-container>.panel,.sp-profile-row .panel.sp-section{margin-bottom:10px}.sp-break-contact-person{display:block}.sp-col-contact-person{width:100%}.working-hours-expanded>li.list-group-item>h4>span{width:30px}.add-review .review-details{padding-top:10px}}